:root {
  --white: #ffffff;
  --almost-black: #151515;
  --dark-blue: #263038;
  --green: #23b923;
  --text: var(--white);
  --text-dark: var(--dark-blue);
  --background-default: var(--dark-blue);
  --btn-default: var(--green);
  --btn-hover: #22ad22;
  --btn-active: #21a421;
  --chat-background: #e0e0e0;
}
